{% extends 'bmstu_lab/base.html' %}
{% load static %}
{% block title %} Статьи по темам {% endblock %}

{% block content %}
    <div> Information about articles in the category </div>
    {% for article in data %}
        <hr>
        <li>{{article.title}}</li>
        <li>{{ article.link }}</li>
        <img src='{% static article.photo %}' height="380" width="500">
        <li>Autors:</li>
        {% for autor in article.autor_id.all %}
            <p>{{autor}}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}